!
router bgp {{ racks[devices[inventory_hostname].rack].bgp.asn }}
 bgp router-id {{ devices[inventory_hostname].loopback|ipaddr('address') }}
 bgp bestpath as-path multipath-relax
 neighbor underlay peer-group
 neighbor underlay remote-as external
{% for interface in fabric_links %}
 neighbor {{ interface }} interface peer-group underlay
{% endfor %}
 neighbor peerlink.4094 interface remote-as internal
 !
 address-family ipv4 unicast
   redistribute connected route-map NO_LOOP
 exit-address-family
 !
!
route-map NO_LOOP deny 10
 match interface lo
!
route-map NO_LOOP permit 1000
!