
###############
# SVI
###############
{% for svi in devices[inventory_hostname].svis %}
auto vlan{{ svi }}
iface vlan{{ svi }}
    address {{ devices[inventory_hostname].svis[svi].ipv4 }}
    address-virtual {{ racks[devices[inventory_hostname].rack].vrr[svi].mac }} {{ racks[devices[inventory_hostname].rack].vrr[svi].ipv4 }}
    vlan-raw-device bridge
    vlan-id {{ svi }}
{% endfor %}